*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #5f5f5f;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.barra_logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    background-color: #000000;
    width: 100%;
}
.barra_logo img{
    height: 8rem;
    border-radius: 1rem;
}
.barra_logo p{
    color: #ffffff;
    margin-top: 1rem;
    font-family: "alegreya-sans-sc", sans-serif;
    font-size: 1.5em;
}
.container_logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #000;
    color: #fff;
    font-weight: bold;
    text-align: center;
}
.contenedor_boton_carrito{
    position: fixed;
    top:5rem;
    right: 0;
    background-color: #5f5f5f;
    border-radius: .5rem 0rem 0rem .5rem;
    padding: .5rem;
    transition: right 0.5s ease; /* animación suave igual que el carrito */
    z-index: 1000; /* asegurar que esté por encima de otros elementos */
}
.boton_carrito{
    text-decoration: none;
    color: #fff;
}
.cantidad_compra{
    font-family: "alegreya-sans-sc", sans-serif;
    color: red;
    font-size: 1.5em;
}
.artistas{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
}
.headline{
    padding: 1rem;
    background-color: #000;

    font-family: "alegreya-sans-sc", sans-serif;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    line-height: 1.5rem;
    font-size: 1.2em;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 1rem;
}

.headline img{
    height: 18rem;
    object-fit: cover;
    aspect-ratio: 1/1;
    margin-bottom: .5rem;
    border-radius: .5rem;
}

.controles_cantidad{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    width: 100%;
    margin-top: .5rem;
}
.controles_cantidad button{
    padding: .5rem;
    border-radius: .5rem;

    border: #000 solid;
    background-color: #ffffff;
}
.btn_comprar{
    width: 100%;
    padding: .5rem;
    border-radius: .5rem;
    margin-top: .5rem;

    font-family: "alegreya-sans-sc", sans-serif;
    font-size: 1em;
}

.carrito {
    width: 40%;
    height: 100dvh;
    background-color: rgb(34, 34, 34);
    padding: 1rem;

    position: fixed;
    top: 0;
    right: -100%;   /* arranca escondido fuera de la pantalla */
    transition: right 0.5s ease; /* animación suave */

    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: "alegreya-sans-sc", sans-serif;

}

.carrito p{
    color: #ffffff;
    font-size: 2em;
}

.Lista_carrito{
    background-color: grey;
    height: 80%;
    width: 95%;
    margin: 1rem;
    border-radius: .5rem;
}

.carrito button{
    width: 95%;
    padding: .1rem;
    border-radius: .5rem;
    font-size: 1.2em;
    margin-bottom: .3rem;
}
.Lista_carrito_individual{
    font-family: "alegreya-sans-sc", sans-serif;
    font-size: .5em;
    color: #000;


    display: flex;
    align-items: center;
    justify-content: space-around;

    padding: .2rem;
    margin: .4rem;
    background-color: #3b3b3b;

    border-radius: .5rem;
}
.Lista_carrito_individual img{
    width: 6%;
}

.eliminar{
    cursor: pointer;
}

/* Seccion checkout */

.seccion_checkout{
    background-color: #161616;
    height: 90dvh;
    width: 95dvw; 
    margin: 2rem;
    border-radius: 1rem;
    padding: 2rem;

    display: flex;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
}

.seccion_carrito_preview{
    width: 50%;
    height: 100%;
    background-color: #a8a7a7;
    border-radius: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-right: 2rem;
    overflow-y: scroll;
    padding: .5rem;
}
.seccion_pago{
    width: 50%;
    height: 100%;
    background-color: #2f2f2f;
    border-radius: 1rem;
    padding: .5rem;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.titulo_preview_tickets{
    padding: .5rem;
}
.preview_individual{
    width: auto;
    height: 10%;
    margin: .5rem;
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: .5rem;
    box-shadow: 1px 1px 2px rgb(0, 0, 0);
}
.preview_individual img{
    height: 80%;
}

.titulo_resumen_compra{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 98%;
    padding: .5rem;
    background-color: #000000;
    border-radius: .5rem;
    color: #5f5f5f;
    box-shadow: 1px 1px 2px #5f5f5f;
    font-size: 1.2em;
}

.total_sumado{
    font-family: "alegreya-sans-sc", sans-serif;
    font-size: 2em;
    margin: 1rem;
}

.titulos_labels{
    font-family: "alegreya-sans-sc", sans-serif;
    font-size: 1.5em;
    margin: .5rem; 
    color: #a8a7a7;
}

.labels{
    width: 95%;
    height: 1.5rem;
    border-radius: .5rem;
}

.boton_confirmar_compra{
    width: 95%;
    font-family: "alegreya-sans-sc", sans-serif;
    font-size: 1.5em;
    margin-top: 2rem;
    padding: .5rem;
    border-radius: .5rem;
    background-color: rgb(0, 73, 0);
    border-color: #2f2f2f;
    color: #a8a7a7;
}

.boton_cancelar_compra{
    width: 95%;
    font-family: "alegreya-sans-sc", sans-serif;
    font-size: 1.5em;
    margin-top: 1rem;
    padding: .5rem;
    border-radius: .5rem;
    background-color: rgb(73, 0, 0);
    border-color: #2f2f2f;
    color: #a8a7a7;
}